apiVersion: 1

prune: false

datasources:
  # Loki
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    uid: grafana_loki
    url: $LOKI_INTERNAL_URL
    jsonData:
      maxLines: 1000
      timeout: 60
    isDefault: false
    editable: true

  # Tempo
  - name: Tempo
    type: tempo
    access: proxy
    orgId: 1
    uid: grafana_tempo
    url: $TEMPO_INTERNAL_URL
    jsonData:
      tracesToLogsV2:
        datasourceUid: 'grafana_loki'
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
        tags: ['service_name', 'job', 'instance']
        filterByTraceID: true
        filterBySpanID: false
      tracesToMetrics:
        datasourceUid: 'grafana_prometheus'
        tags:
          - key: 'service.name'
            value: 'service_name'
      serviceMap:
        datasourceUid: 'grafana_prometheus'
      search:
        hide: false
      nodeGraph:
        enabled: true
      lokiSearch:
        datasourceUid: 'grafana_loki'
    isDefault: false
    editable: true

  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    uid: grafana_prometheus
    url: $PROMETHEUS_INTERNAL_URL
    jsonData:
      httpMethod: POST
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: 'grafana_tempo'
      timeInterval: 30s
    isDefault: true
    editable: true
