apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki.railway.internal:3100
    isDefault: true
    editable: true

  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo.railway.internal:3200
    editable: true

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus.railway.internal:9090
    editable: true
